body {
    font-family: Helvetica;
    margin: 0;
    padding: 0;
    background-color: #f0e0ff; 
}

header {
    background-color: #bf80ff; 
    color: #e6ccff; 
    text-align: center;
    padding: 20px;
}

header h1 {
    margin: 0;
}

nav {
    background-color: #9966cc; 
    overflow: hidden;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    float: left;
}

nav ul li a {
    display: block;
    color: #e6ccff; 
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: #bf80ff; 
}

main {
    padding: 20px;
}

.container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.text {
    width: 60%;
    color: #ccd9ff; 
}

.image {
    width: 35%;
}

img {
    width: 100%;
    border-radius: 8px;
    margin-top: 20px;
}

section {
    background-color: #9966cc; 
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 8px;
}

section h3 {
    color: #e6ccff;
}

footer {
    background-color: #bf80ff; 
    color: #e6ccff; 
    text-align: center;
    margin-top: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

body{
    background: url('bg4.jpg') center/cover no-repeat fixed;
}